
body {
    background-image: url('laptop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (max-width: 800px) {
    body {
        background-image: url('hp.svg');
        
    }
}