
body {
    background-image: url('BG-01-01-Black\ 1366x768.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 200vh;
}

@media (max-width: 800px) {
    body {
        background-image: url('BG-01-01-Black\ 430x932.svg');
        
    }
}